
@import './variables';

.container {
    max-width: 1100px;
    margin-inline: auto;
}

.main {
    overflow: hidden;
}

.d-grid {
    display: grid;
}

.section {
    padding: 5.5rem 0 1rem;
}

.section-title,
.section-title-center {
    font-size: $h2-font-size;
    margin-bottom: $mb-2;
    line-height: 140%;
}

.section-title-center {
    text-align: center;
}