@import "./mixin";
@import "./variables";

/* home */
.home {
  padding: 8rem 1rem 2rem;

  &-container {
    position: relative;
    row-gap: 2rem;
  }

  &-img {
    justify-self: center;
    width: 180px;
  }
  &-data {
    text-align: right;
    padding-right: 70px;
  }
  &-title {
    font-size: 1.5rem;
    line-height: 140%;
    margin-bottom: $mb-1;
  }

  &-description {
    margin-bottom: $mb-3;
    padding-right: 0;
    text-align: right;
  }

  &-social {
    position: absolute;
    top: 8rem;
    right: -3rem;
    display: grid;
    justify-items: center;
    row-gap: 3.5rem;
  }

  &-social-follow {
    font-weight: $fw-medium;
    font-size: $smaller-font-size;
    color: $first-color;
    position: relative;
    transform: rotate(90deg);
  }

  &-social-follow::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: $first-color;
    right: -35%;
    top: 50%;

  }

  &-social-links {
    display: inline-flex;
    flex-direction: column;
    row-gap: 0.25rem;
    padding: 0.5rem 0 0 0;
  }

  &-social-link {
    font-size: 1rem;
    color: $first-color;
    transition: 0.3s;
  }

  &-social-link:hover {
    transform: translateX(0.25rem);
  }
  
}

/* about */
.about {
  @include set-left-and-right-padding;

  &-container {
    row-gap: 2rem;
  }

  &-img {
    width: 380px;
    justify-self: center;
  }

  &-title {
    margin-bottom: $mb-1;
    font-size: 1.3rem;
  }

  &-description {
    margin-bottom: $mb-2;
  }

  &-details {
    display: grid;
    row-gap: 1rem;
    margin-bottom: $mb-5;
  }

  &-details-description {
    display: inline-flex;
    column-gap: 0.5rem;
    font-size: $fs-md;
  }

  &-details-icon {
    font-size: 1rem;
    color: $first-color;
    margin-top: 0.15rem;
  }
}

/* steps */
.steps {
  &-bg {
    background-color: $first-color;
    padding: 4rem 2rem 4rem;
  }

  &-container {
    gap: 2rem;
    padding-top: 1rem;
  }

  &-title {
    color: #fff;
  }

  &-card {
    background-color: $container-color;
    padding: 2.5rem 3rem 2rem 1.5rem;
  }

  &-card-number {
    display: inline-block;
    background-color: $first-color-alt;
    color: #fff;
    padding: 0.5rem 0.75rem;
    font-size: $fs-xl;
    margin-bottom: $mb-3;
    transition: 0.3s;
  }

  &-card-title {
    font-size: $fs-lg;
    margin-bottom: $mb-1;
  }

  &-card-description {
    font-size: $fs-sm;
  }

  &-card:hover &-card-number {
    transform: translateY(-0.25rem);
  }
}

/* products */
.product {
  @include set-left-and-right-padding;
  &-description {
    text-align: center;
  }

  &-container {
    padding: 3rem 4rem 4rem 4rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem 6rem;
   
  }

  &-card {
    display: grid;
    position: relative;
    width: 185px;
    
  }

  &-img {
    position: relative;
    width: 160px;
    justify-self: center;
    transition: 0.3s;
  }

  &-title,
  &-price {
    font-size: $fs-sm;
    font-weight: $fw-semi-bold;
    color: $title-color;
  }

  &-title {
    margin-bottom: 0.25rem;
  }

  &-button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $first-color;
    color: #fff;
    padding: 0.25rem;
    font-size: 1.15rem;
  }

  &-button:hover {
    background-color: $first-color-alt;
  }

  &-circle {
    width: 120px;
    height: 120px;
    background-color: $first-color-lighten;
    border-radius: 50%;
    position: absolute;
    top: 18%;
    left: 3%;
  }

  &-card:hover &-img {
    transform: translateY(-0.5rem);
  }
}

/* questions */
.questions {
  background-color: $first-color-lighten;
  @include set-left-and-right-padding;

  &-container {
    gap: 1.5rem;
    padding: 4rem 0;
  }

  &-group {
    display: grid;
    row-gap: 1.5rem;
  }

  &-item {
    background-color: $container-color;
    border-radius: 0.25rem;
  }

  &-item-title {
    font-size: $fs-md;
    font-weight: $fw-medium;
  }

  &-icon {
    font-size: 1.25rem;
    color: $title-color;
  }

  &-description {
    font-size: $fs-md;
    padding: 0 1.25rem 1.25rem 2.5rem;
  }

  &-header {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0.75rem 0.5rem;
    cursor: pointer;
  }

  &-content {
    overflow: hidden;
    height: 0;
  }

  &-item,
  &-header,
  &-item-title,
  &-icon,
  &-description,
  &-content {
    transition: 0.3s;
  }

  &-item:hover {
    box-shadow: 0 2px 8px hsla(152, 4%, 15%, 0.15);
  }
}

/* accordion */
.accordion {
  &-open .questions-header,
  &-open .questions-content {
    background-color: $first-color;
  }

  &-open .questions-item-title,
  &-open .questions-description,
  &-open .questions-icon {
    color: #fff;
  }

  &-open .questions-icon {
    transform: rotate(45deg);
  }
}

/* contact */
.contact {
  @include set-left-and-right-padding;

  &-container {
    row-gap: 3.5rem;
  }

  &-data {
    display: grid;
    row-gap: 2rem;
    margin-bottom: $mb-4;
  }

  &-subtitle {
    font-size: $normal-font-size;
    font-weight: $fw-medium;
    color: $text-color;
    margin-bottom: $mb-1;
  }

  &-description {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: $title-color;
    font-weight: $fw-medium;
  }

  &-icon {
    font-size: 1.25rem;
  }

  &-inputs {
    display: grid;
    row-gap: 2rem;
    margin-bottom: $mb-5;
  }

  &-content {
    position: relative;
    height: 3rem;
    border-bottom: 1px solid $text-color-light;
  }

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 0;
    background: none;
    color: $text-color;
    border: none;
    outline: none;
    z-index: 1;
  }

  &-label {
    position: absolute;
    top: 0.75rem;
    width: 100%;
    font-size: $small-font-size;
    color: $text-color-light;
    transition: 0.3s;
  }

  &-area {
    height: 7rem;
  }

  &-area textarea {
    resize: none;
  }

  &-input:focus + &-label {
    top: -0.75rem;
    left: 0;
    font-size: $smaller-font-size;
    z-index: 10;
  }

  &-input:not(:placeholder-shown) &-input:not(:focus) + &-label {
    top: -0.75rem;
    font-size: $smaller-font-size;
    z-index: 10;
  }
}
