@import "./variables";

.header {
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $body-color;
  transition: 0.4s;
  z-index: $zi-fixed;
}

.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &-logo,
  &-toggle,
  &-close {
    color: $title-color;
  }

  &-logo {
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: 0.3s;
  }

  &-icon {
    font-size: 1.15rem;
    color: $first-color;
    padding-bottom: 3px;
  }

  &-logo:hover {
    color: $first-color;
  }

  &-toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
  }
  @media screen and (max-width: 767px) {
    &-menu {
      position: fixed;
      background-color: $container-color;
      width: 30%;
      height: 100%;
      top: 0;
      right: -100%;
      box-shadow: -2px 0 4px hsla(152, 24%, 15%, 0.1);
      padding: 4rem 0 0 3rem;
      border-radius: 1rem 0 0 1rem;
      transition:  0.7s ease;
      z-index: $zi-fixed;
      text-align: center;
    }
  }
  &-close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
  }

  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &-link {
    color: $title-color;
    font-weight: $fs-md;
    transition: 0.3s;
  }

  &-link:hover {
    color: $first-color;
  }
}

.show-menu {
  right: 0;
}

.scroll-header {
  box-shadow: 0 1px 4px hsla(152, 4%, 15%, 0.1);
}

.active-link {
  position: relative;
  color: $first-color;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 4.8px;
    width: 70%;
    height: 2px;
    background-color: $first-color;
  }
}
