@import './variables';

body.dark-theme {
    --first-color-dark: hsl(152, 8%, 20%);
    --title-color: hsl(152, 4%, 95%);
    --text-color: hsl(152, 4%, 75%);
    --body-color: hsl(152, 8%, 12%);
    --container-color: hsl(152, 8%, 16%);
}

.change-theme {
    color: $title-color;
    font-size: 1.15rem;
}

#theme-button {
    display: inline-block;
    cursor: pointer;
    margin-right: 0.6rem;
    font-size: $fs-md;
}

.dark-theme {

    & .steps-bg,
    & .questions {
        background-color: $first-color-dark;
    }

    & .product-circle,
    & .footer-subscribe {
        background-color: $container-color;
    }

    & .scroll-header {
        box-shadow: 0 1px 4px hsla(152, 4%, 4%, 0.3);
    }
}